- form_for(@thing, :html => { :multipart => true }) do |f|
  = f.error_messages

  %p
    = f.label :name
    %br
    = f.text_field :name

  %p
    = f.label :description
    %br
    = f.text_area :description

  %p
    = f.label :image
    %br
    = f.file_field :image

  %p
    = f.submit 'Save'
