- content_for :admin do
  %li= link_to 'Edit thing', edit_thing_path(@thing)
  %li= link_to 'Destroy thing', @thing, :confirm => 'Are you sure?', :method => :delete

%h2=h @thing.name

- if @thing.image.exists?
  %p= image_tag @thing.image.url(:medium)

%p=h @thing.description

- if @thing.tags.any?
  %p
    Tags:
    - for tag in @thing.tags
      = link_to tag.name, tag_path(tag.name)
      
    
- if logged_in?
  %h3 Loans:
  = render :partial => 'loans/loans', :object => @thing.loans

%p
  = link_to 'Back', things_path
