!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => 'content-type', :content => 'text/html;charset=UTF-8'}
    %meta{'http-equiv' => 'content-language', :content => 'en'}
    %title= html_title

    = stylesheet_link_tag 'reset', 'application', 'thing', 'tags', 'loans', 'people', :cache => true
  %body
    = javascript_include_tag 'jquery-1.3.2.min', 'loans', :cache => true

    #head
      .content
        %h1
          = link_to "#{Configuration.get :name}'s things", root_url

    #site.content
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      #left
        = yield

      #right
        = yield(:right)
        - if logged_in?
          %h3 Administration
          %ul
            = yield(:admin)
            %li= link_to 'people', people_url
            %li= link_to 'logout', logout_url

        %h3 About
        %p
          This
          =link_to 'Ruby on Rails', 'http://rubyonrails.org'
          Application is
          =link_to 'open source', 'http://github.com/mordaroso/my-things'
          and created by
          = link_to 'Fabio Kuhn', 'http://fabiokuhn.com'
      %br.clear
